.header__mobile-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 18px;
  align-items: center;
  width: clamp(282px, 100%, 880px);
  padding: clamp(30px, 10vw, 40px) 0;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  transform: translateY(-100%);
  background-color: black;
  transition: transform 1s ease-in-out, position 0.1s linear;
}
