.page__caption {
  margin: 0;
  height: 17px;
  width: clamp(260px, 28vw, 358px);
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border-radius: 2px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 80px;
  text-decoration: none;
  font-style: none;
}
