.card__like-label {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: black;
  font-family: Inter, "Arial Bold", sans-serif;
}

.likes__owner {
  display: flex;
  flex-direction: column;
  opacity: 1;
  width: 60px;
  padding-top: 5px;
  margin: 0 auto;
}

.likes__owner-name {
  color: black;
  font-size: 10px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: break-word;
  overflow: hidden;
  text-align: center;
}

.likes__info {
  color: black;
  margin: 5px;
}
.likes {
  background-color: rgba(235, 235, 235, 0.8);
  border-radius: 10px;
  border-bottom-left-radius: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 1;
  transition: opacity 1s 0.5s ease-in-out;
  /* transition: cubic-bezier(0.6, -0.28, 0.735, 0.045); */
  border: 1px solid black;
  pointer-events: none;
}

@media screen and (max-width: 676px) {
  .likes {
    border-radius: 10px;
    border-bottom-right-radius: 0;
  }
}

.likes__info {
  text-justify: center;
  text-align: center;
  margin-top: 0;
  font-size: 15px;
}

.card__likes-container:hover .likes {
  visibility: visible;
  opacity: 1;
}

.likes__owner-image {
  height: 55px;
  width: 55px;
  border-radius: 50%;
  object-fit: cover;
  border: black 2px solid;
  margin: 0 auto;
}
.likes__container {
  display: flex;
  justify-content: space-around;
  margin: 0 2px;
}
