.button_type_menu {
  width: 24px;
  height: 24px;
  background: url("../../../assets/icons/Mobile_menu_button.svg") center/24px
    no-repeat;
  border: 0;
  transition: all 0.5s ease-in-out;
}

.button_type_menu:active {
  width: 30px;
  height: 30px;
  background: url("../../../assets/icons/Close_Icon.svg") center/30px no-repeat;
  transform: rotate(-135deg);
}
